@font-face {
    font-family: "Calibri";
    src: url("../assets/fonts/Calibri\ Regular.ttf") format('embedded-opentype'),
    url("../assets/fonts/Calibri\ Regular.ttf") format('woff2'),
    url("../assets/fonts/Calibri\ Regular.ttf") format('woff'),
    url("../assets/fonts/Calibri\ Regular.ttf") format('truetype'),
    url("../assets/fonts/Calibri\ Regular.ttf") format('svg');
}


#background {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
}

/* html {
    font-family: "Calibri";
} */