/*  DEFAULT CSS */

@font-face {
  font-family: "Calibri";
  src: url("../assets/fonts/Calibri-Regular.ttf") format("embedded-opentype"),
    url("../assets/fonts/Calibri-Regular.ttf") format("woff2"),
    url("../assets/fonts/Calibri-Regular.ttf") format("woff"),
    url("../assets/fonts/Calibri-Regular.ttf") format("truetype"),
    url("../assets/fonts/Calibri-Regular.ttf") format("svg");
}


html {
  font-family: "Calibri";
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
}

/*  INDEX PAGE  */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.viewport-area {
  position: relative;
  height: 100vh;
  display: flex;
}

/*  PORTFOLIO PAGES  */
.artwork-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VIDEOS */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* NAVIGATION  */
/* Reference:  */

#container {
  margin: 0 auto;
  max-width: 100%;
}

.toggle,
[id^="drop"] {
  display: none;
}
nav {
  margin: 0;
  padding-right: 0;
  background-color: transparent;
  margin-left: 3rem;
  text-transform: uppercase;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin-left: 1.5rem;
  display: inline-block;
  float: left;
  background-color: transparent;
}

nav a {
  display: block;
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 3.75rem;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
  nav {
    margin: 0;
  }

  .toggle + a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    padding: 0 20px;
    font-size: 1rem;
    line-height: 3.75rem;
    text-decoration: none;
    border: none;
  }

  [id^="drop"]:checked + ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }



  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}
